/*---------- Google Font Imports---------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400i,600');

*, html{
  margin:0  ;
  padding:0  !important;
  font-family: 'Raleway', sans-serif;

}

/*-------------------- About Section Content------------------- */

main {
  color:white;

  align-self: center;
    display: flex;
  margin: 0 auto !important;
  width: 100vw;
height: 100vh;
  align-items: center;
  align-content:center;
    /* Browser Corrections */
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction:column;


 padding-top: 10%;
  line-height: 40px;
  text-decoration: none;
  background-color:#0048BA;
  color: white;
 min-height: 100vh;
 text-align: left;
 justify-content: center;
 align-items: center;
 font-size: 24px;

}
 .main-content{
  margin: 10%;
  line-height:1.5;
}

main h1{
  text-align: center;
  margin-bottom: 5vh;
  line-height: 1.5;
font-size: 60px;
}
main li{
    font-size: 20px;
  list-style: square;
}
main a{
  text-decoration: none;
  color: white;
  margin: 2vh;
}
@media screen and (max-width:500px){
  main{
    height:150vh;
  }
  main h1{
    font-size:50px;
  }
}
@media screen and (max-width:400px){
  main{
    height:250vh;
  }
  main h1{
    font-size:50px;
    margin-top: 8vh;
  }
}

/*--------------Projects Section-----------------*/
 #projects{

   /*CSS Flexbox setting */
   display:flex;
min-height: 100vh;
   margin-top: 3vh;
   flex-direction: column;
   display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;

   margin:5% !important;
  padding-top: 10%;
    line-height: 150%;
    text-decoration: none;
    background-color:white;
    color:#0048BA;
    min-height: 100vh;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 3vh;
}
#projects h1{
  font-size: 60px;
  line-height: 175%;
     margin-top: 20vh;
}
.sites{

  align-self: center;
  flex-wrap: wrap;
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
  margin-top: 5%;
}
.sites img{
    align-self: flex-start;
  width:300px;
  padding: 10%;
  opacity: 1;
}
/* Image Hover CSS */
.container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}
.mom{
    background-color: blue;
}
.podcast{
    background-color: red;
}
.codepen{
  background-color:green;
}

.container:hover .overlay {
  opacity: 0.9;
}

.site-link {
  color: white;
  font-size:20px;
  text-align:left;
  text-decoration: none;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.site-link p{
  font-size:20px;
  text-align:left;
  text-decoration: none;
}


@media only screen and (max-width:1333px) {
  #projects h1{
    font-size: 50px;
    text-align: center;
    line-height: 175%;
       margin-top: 20vh;
  }
  .sites{
    width:300px;
    padding: 10%;
    opacity: 1;

  /*CSS Flexbox setting */
    display:flex;

    flex-direction: column;
    display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;

      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  }
}
.services{
  background-color: #FFFFFF;
  min-height: 100vh;

  padding-top: 10%;
  /*CSS Flexbox setting */
  display:flex;

  flex-direction: column;
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
}
.service-text{
  margin-top: 20vh;
  text-align: left;
  /*CSS Flexbox setting */
  display:flex;
  flex-direction: column;
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;

  margin-left:5% !important;
  margin-right:5% !important;
}
.service-text h1{
  font-size: 50px;
  line-height: 175%;
  color:#0048BA;
  text-align: center;
  margin-bottom: 1vh;
}
.service-text h2{
  font-size: 40px;
  line-height: 175%;
  color:#0048BA;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 1vh;
}
.service-text p{
  color:#0048BA;
    line-height: 160%;
  font-size: 24px;
    margin-bottom: 1vh;
}
.packages{
  color:white;

  align-self: center;
    display: flex;
  margin: 0 auto !important;
  width: 70vw;
    height:auto;
  align-items: center;
  align-content:center;
    /* Browser Corrections */
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}
.package-1, .package-2, .package-3{
  height:100vh;
  width: 95vw;
  border: 3px solid black;
  margin: 1%;
      flex-wrap: wrap;
      align-content:center;
}
.p1-text, .p2-text, .p3-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
   align-items: center;
}
.p1-text h1, .p2-text h1, .p3-text h1{
  font-size: 40px;
  text-align: center;
}
.p1-text p, .p2-text p, .p3-text p{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}
.p1-text ul, .p2-text ul, .p3-text ul{
  margin-left: 10%;
  float:left;
  line-height: 250%;
  font-size: 20px;
  list-style-type: square;
}
.package-1{
  background-color: #0080FF;
}
.package-2{
  background-color: #17E517;
}
.package-3{
background-color: #606060;
}
@media only screen and (max-width:1799px){
  .package-1, .package-2, .package-3{
    height:100vh;
    width: 95vw;
  }
}
@media only screen and (max-width:1100px) {
  .package-1, .package-2, .package-3{
    width:90vw;
  }
  .packages{
    color:white;
    align-self: center;
      display: flex;
      flex-direction: column;
    margin: 0 auto !important;
    width: 70vw;
    height: auto;
    align-items: center;
    align-content:center;
      /* Browser Corrections */
    display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
  }
.package-1, .package-2, .package-3{
  height:auto;
  }

}
