
.banner {
    display: flex;
    height: 60rem;
    align-items: center;
    text-align: left;
    /*Parallax effect.*/
    /* Linear Gradient overlay*/

    /* Centering and preventing image repetition of background image */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: bold;
}

header.masthead {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;
}

header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem;
}

header.masthead h2 {
    font-size: 1.3rem;
    font-family: 'Ubuntu';
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(6rem + 106px);
        padding-bottom: 6rem;
    }

    header.masthead h1 {
        font-size: 4.75em;
        line-height: 4rem;
    }

    header.masthead h2 {
        font-size: 1.75em;
    }
}

#profile {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari 3-8 */
    transform: rotate(90deg);
    width: 250px;
    border-radius: 50%;
    background: linear-gradient(#fff, #fff);
}


#profile-2 {
    width: 100%;
    border-radius: 10%;

}
