nav {
    background-color: var(--darker);
}

.scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none;
}

.scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--darker);
    opacity: 0.8;
    line-height: 3.1rem;
}

#mainNav {

    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-family: 'Ubuntu';
}

#mainNav .navbar-brand {
    color: #fff;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
    text-decoration: none;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: var(--forest);
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: var(--forest);
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }

    #mainNav .navbar-brand {
        font-size: 2em;
        -webkit-transition: font-size 0.3s;
        transition: font-size 0.3s;
    }

    #mainNav .navbar-nav {
        margin-top: 0;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
        color: #fff;
        background: var(--forest);
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
        color: #fff;
        background: var(--forest);
    }

    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
