$colors:(
     darker: #070707,
     light: #f4f4f4,
     dark: #262625,

     /*Dark & Light blue*/
     sea: #1E38FF,
     forest: #1da526
);
@function color($color-name) {
     @return map-get($colors, $color-name);
}