$colors:(
     darker: #070707,
     light: #f4f4f4,
     dark: #262625,
     bright:#fff,

     /*Dark & Light blue*/
     backwood: #002c0f;,
     
     forest: #1da526
);
@function color($color-name) {
     @return map-get($colors, $color-name);
}