:root{
    /*B & W*/
    --darker:#070707;
    --light:#f4f4f4;
    --dark:#262625;

    /*Dark & Light blue*/
    --sea:#1E38FF;
    --forest:;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono');

*, html{
    font-family: 'Ubuntu Mono', monospace;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: var(--darker);
    color: var(--light);
}